.video-title-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-video {
    height: 370px;
}

.video {
    width: 300px;
    height: 200px;
    margin: 0px auto;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}



.item-video.ng-move,
.item-video.ng-enter,
.item-video.ng-leave {
    -webkit-transition:all linear 1.5s;
    transition:all linear 1.5s;
}

.item-video.ng-leave.ng-leave-active,
.item-video.ng-move,
.item-video.ng-enter {
    opacity:0;
}

.item-video.ng-leave,
.item-video.ng-move.ng-move-active,
.item-video.ng-enter.ng-enter-active {
    opacity:1;
}

.medium .label-value{
    font-size: 14px !important;
    margin-top: 3px;
}